{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text"> This is a basic blog application made with the Django web framework. Blog posts can be added, edited, or deleted through the browser without editing the html files.</p>
        <a href="#"
           class="btn btn-danger">Follow!</a>
    </div>
</div>
</div>

{% endblock sidebar %}
